parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

console:
    commands:
        - App\Card\CardGeneratingCommand

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension

session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter

	- App\Card\CardFacadeFactory
	cardRepository:
	    class: App\Card\CardRepository
	    tags:
	        doctrine.repositoryEntity: App\Card\Card

	- App\Customer\CustomerFacadeFactory
	customerRepository:
	    class: App\Customer\CustomerRepository
	    tags:
	        doctrine.repositoryEntity: App\Customer\Customer

	orderRepository:
		class: App\Order\OrderRepository
		tags:
			doctrine.repositoryEntity: App\Order\Order

	- App\Components\RegistrationForm\RegistrationFormFactory
	- App\Components\SearchForm\SearchFormFactory